.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.result-container.show {
    opacity: 1;
    transform: scale(1);
}

main .result-container h2 {
    margin: 0;
    font-size: 5em;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    color: black;
}

main .result-container h3 {
    margin: 0 0 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

main .result-container p {
    margin: 10px 0 0;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #333;
}
